<div class="card" style="width: 18rem;">
  <img src="https://w7.pngwing.com/pngs/863/156/png-transparent-bart-simpson-homer-simpson-maggie-simpson-lisa-simpson-desktop-simpsons-heroes-text-computer-wallpaper.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{userDetails.id}}. {{userDetails.name}}</h5>
    <p class="card-text">
      {{userDetails.username}}
      {{userDetails.email}}
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
